
# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
env/

# Ignore Django secret key and environment variables
.env

# Ignore database and migration files
db.sqlite3
*.sqlite3
*.sqlite

# Ignore static and media files
staticfiles/
media/

# Ignore IDE and editor files
.vscode/
.idea/
*.swp
*.swo

# Ignore logs and temp files
*.log
logs/
*.bak
*.tmp
.DS_Store
